<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Jobly</title>
    <meta content="width=device-width,initial-scale=1" name=viewport>
    <link rel="icon" href="{{ url_for('static', filename='img/jobly.png')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    <!-- Google Fonts -->
		<!-- <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'> -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  </head>
  <header>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/joblist/"><img class=logo src="{{ url_for('static', filename='img/jobly.png') }}"></a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          {% if session.logged_in %}
          <li><a href="/support/"> <span class="glyphicon glyphicon-heart"></span> Support&nbsp;&nbsp;&nbsp;</a></li>
          <li><a href="/logout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          {% else %}
          <li><a href="/">LOGIN</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>
  <body>
    <div class="container" style="min-height:100% width:80%" id="flashMessage">
    	<!-- {% with messages = get_flashed_messages() %}
    	  {% if messages %}
    	    {% for message in messages %}
    		  <div class="alert alert-warning alert-dismissible" role="alert">
    		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
    			{{message}}
    		  </div>
    		{% endfor %}
    	  {% endif %}
    	{% endwith %} -->

	    {% block body %}{% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/customize.js') }}"></script>
	  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

  </body>
</html>
