<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Jobly</title>
    <meta content="width=device-width,initial-scale=1" name=viewport>
		<link rel="icon" href="{{ url_for('static', filename='img/logo.png')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
  </head>
  <body>
		<div class="pull-right signup">
			No Account? <a href='/register/'>SIGNUP </a>here
		</div>

		<div class="container">
	      <div class="inner">
	          <h1>JOBLY</h1>

	          <form action="" method="post">
	              <lagend>Login to your account</lagend><br>
	              <label><span class="glyphicon glyphicon-user"></span></label>
	              <input type="email" placeholder='Email' class="input" name="email" value="{{request.form.email}}"/><br>
	              <label><span class="glyphicon glyphicon-lock"></span></label>
	              <input type="password" placeholder="password" class="input" name=password value="{{request.form.password}}"/><br>
								<button class="pull-left button" type="submit" >Sign in</button>
	          </form>

						<p>{{ error }}</p>

	      </div>
	  </div>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </body>
</html>
