{% extends "header.html" %}

{% block body %}

	<body>

		<div class="container">
	      <div class="inner">
	          <h1>JOBLY</h1>

	          <form action="" method="post">
	              <lagend>Login to your account</lagend><br>
	              <label><span class="glyphicon glyphicon-user"></span></label>
	              <input type="email" placeholder='Email' class="input" name="email" value="{{request.form.email}}"/><br>
	              <label><span class="glyphicon glyphicon-lock"></span></label>
	              <input type="password" placeholder="password" class="input" name=password value="{{request.form.password}}"/><br>
								<button class="pull-left button" type="submit" >Sign in</button>
	          </form>

						<p>{{ error }}</p>

	      </div>

	  </div>

	</body>

{% endblock %}
