{% extends "header.html" %}

{% block body %}

<body>
	<div class = "container">
		<h4>sign up</h4>
		<br>
		{% from "_formhelpers.html" import render_field %}
		<form method=post action="/add-new-job/">
			<dl>
				{{render_field(form.title)}}
				{{render_field(form.requirement)}}
				{{render_field(form.jobDesc)}}
				{{render_field(form.location)}}
				{{render_field(form.experience)}}
				{{render_field(form.rcg)}}
				{{render_field(form.internship)}}
				{{render_field(form.requisition)}}
				{{render_field(form.reqdate) }}
				{{render_field(form.dept)}}
			</dl>
			<p><input type=submit value=Submit></p>
		</form>

		{% if error %}
			<p class="error"><strong>Error:</strong>{{error}}</p>
		{% endif %}

	</div>
</body>

{% endblock %}
