{% extends "header.html" %}

{% block body %}

<div class="container">
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
          {% if profile_pic %}
					<img src="{{ profile_pic[0][0] }}" class="img-responsive" alt="">
					{% else %}
					<img src="{{ url_for('static', filename='img/user.png') }}" class="img-responsive" alt="">
					{% endif %}
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						{% if session.logged_in %}
							{{ session.email }}
						{% endif %}
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->
				<!-- <div class="profile-userbuttons">
					<button type="button" class="btn btn-success btn-sm">Follow</button>
					<button type="button" class="btn btn-danger btn-sm">Message</button>
				</div> -->
				<!-- END SIDEBAR BUTTONS -->
				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<ul class="nav">
						<li >
							<a href="/joblist/">
							<i class="glyphicon glyphicon-home"></i>
							Jobs </a>
						</li>
						<li>
							<a href="/applicantslist/">
							<i class="glyphicon glyphicon-user"></i>
							Applicants </a>
						</li>
						<li>
							<a href="/update-profile/">
							<i class="glyphicon glyphicon-ok"></i>
							Profile </a>
						</li>
						<li class="active">
							<a href="/peers/">
							<i class="glyphicon glyphicon-user"></i>
							Connect </a>
						</li>
					</ul>
				</div>
				<!-- END MENU -->
			</div>
		</div>
		<div class="col-md-9 tab-content">
            <div class="profile-content">
              <div class="container">
									{% if recData %}
									{% for each in recData %}
									<div class="row">
									<div class="col-sm-2 col-md-2">
				            <img src="http://thetransformedmale.files.wordpress.com/2011/06/bruce-wayne-armani.jpg"
				            alt="" class="img-rounded img-responsive" />
				        	</div>
                  <div class="col-sm-4 col-md-4">
                    <p>
											<i class="icon-envelope"></i> {{ each[0] }} {{ each[1] }}<br>
                      <i class="icon-envelope"></i> {{ each[2] }} <br>
                    </p>
                  </div>
                </div>
								<br>
								{% endfor %}
								{% else %}
								<div class="container">
									There are no other recruiters.
								</div>
								{% endif %}
              </div>
            </div>
		</div>
	</div>
</div>
<br>
<br>


{% endblock %}
