{% extends "header.html" %}

{% block body %}
    <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="text-center">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <small>Thanks for you application</b></small>
        </h3>
      </div>
      <div class="panel-body">
        <p>Thank you for applying. We will get back to you as soon as possible.</p>

        </div>
      </div>
    </div>
    </div>

{% endblock %}


<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Jobly</title>
  </head>
  <body>

</div>
  </body>
</html>
